/* VARIABLES */
:root {
  --light-green: #789376;
  --dark-green: #0D9206;
  --gray:#7D7D7D;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* BASE STYLE */
.wrapper {
  max-width: 1920px;
  width: 100%;
  max-height: 966px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.column {
  max-width: 960px;
}


/* FONTS 1em = 16px */ 
@font-face {
  font-family: "Source Sans Pro", sans-serif ;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3em; /* 5.625em;  *//* 90px */
  font-weight: 700;
  text-transform: capitalize;
}

.title-container h1:last-child {
  color: var(--dark-green);
  text-align: left;
  margin-left: -3%;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em; /* 1.75em;  *//* 28px*/
  color: var(--gray);
  text-align: left;
  
}

.bottom-buttons button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.625em;
  color: var(--light-green);
}

.card h5 {  
  font-size: 2.375em;
  color: var(--dark-green);
  text-align: left;
}

.card p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: #000000;
  text-align: left;
}

#icon-text {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--light-green);
  font-size: 1.625em;
  text-transform: capitalize;
}

/* MOBILE FIRST */

/* LEFT COLUMN*/
.leftside {
  background: url(../images/Component\ 1\ –\ 1@2x.png) center center no-repeat;
  background-size: 70%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 90px repeat(4, 1fr);
  height: 80%;
}

.center-icons {
  grid-row: 2/4;
  grid-column: 1/3;
  align-self: center;
  cursor: pointer;
}

.social-icons {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--light-green);
  transition: 0.1s ease;
}

.svg-icon {
  position: absolute;
  top: 1px;
  left: 7px;
  right: 0;
  bottom: 0;
  width: 37px;
  height: 47px;
  padding: 5px;
}

.bottom-icon {
  grid-row: 5;
  grid-column: 1/2;
  position: relative;
  left: -19px;
  cursor: pointer;
}

#icon-text {
  grid-row: 5;
  grid-column: 2/6;
  align-self: center;
  margin-bottom: 20px;
}

/* ---hover effect text--- */
.hover-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.625rem;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  text-align: center;
  width: 100%;
}

/* CARD */
.card {
  grid-row: 1;
  grid-column: 5/6;
  margin-top: 7.039337474%; /* 68 : 966 * 100 = 7.039337474 */
  height: 141px;
  width: 289px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.1607843137);
}

.card > * {
  margin-left: 25px;
  margin-top: 10px;
}

.card hr {
  border-top: 3px solid #FF8800;
}


/* RIGHT COLUMN */
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.text-container > * {
  padding: 5%;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title-container, .paragraph-container{
  padding-left: 3%;
}

.paragraph-container {
  border-left: 4px solid #0D9206;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.paragraph-container p {
  padding-right: 5%;
}

#repeat {
  height: 30%;
  width: 30%;
  position: absolute;
  right: -12%;
  top: 32%;
}

.centered-button {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  background: #FF8800;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
  height: 50px;
  width: 200px;
  margin-top: 20px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
.bounce {
  animation: bounce 1.2s ease infinite;
}

/* IMAGES */
.image-container {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;
  bottom: 10px;
  left: 38px;
  transition: left 0.5s ease-in-out;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 365px;
  max-height: 190px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.bottom-buttons button {
  height: 60px;
  width: 232px;
  background: #ffffff;
  border: none;
  border-radius: 56px;
  opacity: 0.79;  
  position: absolute;
  bottom: 36px;
  right: 112px;
  cursor: pointer; 
  box-shadow: 5px 0px 7px #00000029;
}

#preloader {
  background: #ffffff url(../images/Spinner-1s-237px.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: opacity 0.8s ease-in-out, visibility 0.8s;
}


/* tablet & laptop styles */
@media screen and (min-width: 960px){
  .wrapper {
    flex-direction: row;
  }
  .column {
    width: 50%;
  }

  .leftside {
    background-size: 100%;
    height: 100%;
  }

  .text-container {
    padding-right: 10%;
    font-size: 20px;
    }

  .paragraph-container {
    margin-top: 10%;
  }

  .bottom-icon {
    bottom: -58px;
  }
  
    #icon-text {
      margin-bottom: -49px;
    }
  }



/* desktop styles */
@media screen and (min-width: 1400px){
  .text-container {
    font-size: 25px;
    }
  
  h1 {
    font-size: 3.5em;
  }

}

